{% extends 'base.html.twig' %}

{% block body %}
	{% for restaurant in ListeRestaurant %}
       	<h2> {{restaurant.nom}} </h2>
         <a href="{{path("choisir_items",{'id':restaurant.idRestaurant})}}"> Commander </a>
  {% endfor %}
{% endblock %}
