{% extends 'base.html.twig' %}

{% block body %}
	<table>
		<tr>
			<th> No de commande </th>
			<th> Date </th>
			<th> Statut </th>
			<th> Modifier le statut </th>
		</tr>
		{% for commande in commandes %}
			<tr>
				<td> {{commande.idCommande}} </td>
   				<td> {{commande.dateLivraison | date('Y-m-d')}}   </td>
   				<td> {{commande.statut}} </td>
   				<td> <a href="{{path("edit_statut",{'id':commande.idCommande})}}"> Modifier le statut </a> </td>
   			</tr>
   		{% endfor %}
	</table>
{% endblock %}
