<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		<br/><br/>
		
		{% if authenticated is defined %}
			<a href="{{ path('logout') }}">Logout</a><br/>
		{% else %}
			<div id="sidebar">
				{{ render(controller('AppBundle:Security:login')) }}
			</div>
			<a href="{{ path('user_registration') }}">Register a new user</a><br/>	
		{% endif %}
    </body>
</html>
