
<div id="titre">
	<h1> Pret-a-livrer </h1>
</div>
<div id="login">
	<!-- appelle le template LOGIN -->
	{{ render(controller('AppBundle:Security:login')) }}
</div>
<ul class="lang-menu">
	 <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">Francais</a></li>
	 <li><a href="{{  path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'}))}}">English</a></li>
</ul>
<?php 
	}
	 ?>
<div class="clearboth"></div>