<div id="list-adress-block">
	{{ render(controller('AppBundle:Adresse:Show', {'allow_select':allow_select}))}}
</div>
{% if allow_add %}
	<div id="add-adress-block">
		{{ render(controller('AppBundle:Adresse:Ajouter',{'displayButton':true,'allow_select':allow_select}))}}
	</div>
{% endif %}